@import './flex';
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import './typography';

$name: 'movies';

*{
    font-family: $font-opensans;
}
.#{$name}{
    width: 100%;
    @include flex(column,center,center);
    .inputSec{
        width: 100%;
        padding:30px;
        @include flex(row,center,space-between);
        .#{$name}-title{
            color:#fff;
        }
        .input-field{
            padding:10px;
            width:100%;
            max-width: 300px;
        }
    }
    .pageNotification{
        width:100%;
        font-size:0.8rem;
        text-align: right;
        padding:20px;
        color:#fff;
    }
    .#{$name}-sec{
        width: 100%;
        @include flex(row,center,center);
        overflow: hidden;
        flex-wrap: wrap;
        row-gap: 2.5rem;
        column-gap: 2.5rem;
        padding:20px;
    }
}




@media screen and (max-width:768px) {
    .movies{
        .inputSec{
            @include flex(column,center,center);
            row-gap: 1rem;
        }
    }
}


// .#{$name}-movie--desc::-webkit-scrollbar {
//     width: 1px;
//   }
  
//   .#{$name}-movie--desc::-webkit-scrollbar-track {
//     background-color: #fdfdfd;
//     border-radius: 100px;
//   }
  
//   .#{$name}-movie--desc::-webkit-scrollbar-thumb {
//     border-radius: 100px;
//     border: 5px solid rgb(12, 42, 81);
//     background-clip: content-box;
//     background-color: #8070d4;
//   }









// .#{$name}-movie--description{
            //     height:50%;
            //     width:100%;
            //     position:absolute;
            //     z-index: 5;
            //     overflow: hidden;
            //     bottom: 0;
            //     background: linear-gradient(to top,rgb(0, 0, 0),rgba(0, 0, 0, 0));
            //     @include flex(column,center,flex-end);
            //     .#{$name}-movie--desc{
            //         color:#fff;
            //         height: 100%;
            //         text-align:center;
            //         background-color: aqua;
            //         padding:10px;
            //         font-size :0.8rem; 
            //         width: 100%;   
            //         overflow: hidden;      
            //         text-overflow: ellipsis; 
            //     }
            // }
