.member-section {
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 5rem;
}

.member-section .member-details {
  width: 90%;
  margin-top: 3rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 3rem;
  padding: 2rem 0;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.member-section .member-details .member-details--sec {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.member-section .member-details .member-details--sec .member-details--image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  max-width: 150px;
  min-width: 100px;
}

.member-section .member-details .member-details--sec .member-details--image .member-details--img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.member-section .member-details .member-details--sec .member-details--desc {
  row-gap: 0.5rem;
  width: 50%;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.member-section .member-details .member-details--sec .member-details--desc .member-details--name {
  font-size: 1.2rem;
  overflow-wrap: break-word;
}

.member-section .member-details .member-details--sec .member-details--desc .member-details--job {
  font-size: 0.9rem;
  overflow-wrap: break-word;
}

.member-section .member-details .member-details--sec .member-details--desc .member-details--popularity, .member-section .member-details .member-details--sec .member-details--desc .member-details--bday, .member-section .member-details .member-details--sec .member-details--desc .member-details--birthplace {
  font-size: 0.9rem;
  overflow-wrap: break-word;
}

.member-section .member-details .movie-desc {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1rem;
}

.member-section .member-details .movie-desc .movie-desc--sec {
  width: 100%;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.member-section .member-details .movie-desc .movie-desc--sec .movie-desc--image {
  width: 100%;
  max-width: 150px;
  min-width: 100px;
}

.member-section .member-details .movie-desc .movie-desc--sec .movie-desc--image .movie-desc--img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.member-section .member-details .movie-desc .movie-desc--sec .movie-desc--des {
  row-gap: 0.8rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.member-section .member-details .movie-desc .movie-desc--sec .movie-desc--des .movie-desc--title {
  font-size: 1.2rem;
  overflow-wrap: break-word;
}

.member-section .member-details .movie-desc .movie-desc--sec .movie-desc--des .movie-desc--charName {
  font-size: 0.9rem;
  overflow-wrap: break-word;
}

.member-section .member-details .movie-desc .movie-desc--sec .movie-desc--des .movie-desc--voteAvg {
  font-size: 0.8rem;
}

.member-section .member-details .movie-desc .movie-desc--sec .movie-desc--des .movie-desc--voteAvg .starIcon {
  color: gold;
}

.member-section .member-details .movie-desc .movie-desc--sec .movie-desc--des .movie-desc--year {
  font-size: 0.8rem;
}

.member-section .actor-bioSec {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 3rem;
}

.member-section .actor-bioSec .actor-title {
  font-size: 1.2rem;
  width: 90%;
  text-align: left;
}

.member-section .actor-bioSec .actor-bio {
  width: 85%;
  font-size: 0.9rem;
  text-indent: 3rem;
  border-radius: 10px;
  line-height: 2rem;
  text-align: justify;
}

.member-section .movies-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 1rem;
  row-gap: 3rem;
}

.member-section .movies-section .movies-title {
  font-size: 1.2rem;
  width: 90%;
  text-align: left;
}

.member-section .movies-section .movies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .member-section .member-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .member-section .member-details .member-details--sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1rem;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .member-section .member-details .movie-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .member-section .member-details .movie-desc .movie-desc--sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .member-section .movies-section .movies-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=member.css.map */